.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: gray;
}

.chatHeader__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: #fff;
}

.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: red;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader__search > input {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}
