.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > div > img {
  height: 175px;
  object-fit: contain;
}

.login > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: rgb(49, 231, 49);
  color: #738adb;
}
