.messages {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.messages__info {
  margin-left: 20px;
}

.messages__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
